<div class="container">
  <div class="row">
    <div class="col">
      <h2>配送先編集</h2>
      <%= form_with model: @address, method: :patch do |f| %>

       <% if @address.errors.any? %>
          <%= @address.errors.count %>件のエラーが発生しました
          <ul>
            <% @address.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>

      <table>
        <tr>
          <td>郵便番号</td>
          <td><%= f.text_field :post_code %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= f.text_field :address %></td>
        </tr>
        <tr>
          <td>宛名</td>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td><%= f.submit "編集", class:"btn btn-success" %></td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>