<div class="container">
  <div class="row">

    <div class = "col-2">
      <%= render 'public/items/genre', genre: @genres %>
    </div>

     <div class="col-10 my-2">
    <div class = "container-fluid" >
      <div class="row mx-auto">
        <div class = col-px-auto>
          <%= image_tag @item.get_image("300x200!") %>
        </div>

        <div class="col">
         <table class="table table-borderless">

          <tr>
           <th><%= @item.name %></th>
          </tr>
          <tr>
           <td><%= @item.description %></td>
          </tr>
          <tr>
           <td>￥<%= @item.add_tax_price.to_s(:delimited) %>（税込）</td>
          </tr>

         </table>

            <!--カートに入れるボタン-->
            <% if @item.is_active ==  true %>
              <%= form_with url: cart_items_path, model: @cart_item, method: :post do |f| %>
                <p class="text-danger m-0"><%= notice %></p>
                <div class="form-group d-flex w-75">
                  <%= f.select :amount, *[1..10], {include_blank: '個数選択'}, class: "form-control mr-4" %>
                  <%= f.hidden_field :item_id, :value => @item.id %>
                  <%= f.submit "　カートに入れる　", class: "button btn btn-success text-nowrap" %>
                </div>
              <% end %>
              <% else %>
              <h5 class="text-danger">売り切れ</h5>
            <% end %>

        </div>

        </div>
      </div>
    </div>
  </div>
</div>
